@import url('https://fonts.cdnfonts.com/css/ds-digital');

:root {
    --pointerX: 50vw;
    --pointerY: 50vh;
    --text-color: #ededed;
    --bg-color: #111111;
    --border-color: #7c7c7c;
    --border-color-hover: #d8d8d8;
    --calc-color:#1d1b1b;
    --bg-color2: #F17C0F;
}

body {
    margin: 0;
    padding: 0;
    cursor: crosshair; /* Default cursor when dark mode is off */
}

/* Flashlight Controls */
body:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle 12vmax at var(--pointerX) var(--pointerY), rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0.99) 100%);
    pointer-events: none;
    display: none; /* Hide the spotlight by default */
}

/* Reapply custom cursors only when dark mode is NOT active */
/*body:not(.dark-mode-active) .calc_screen, */
/*body:not(.dark-mode-active) .button, */
/*body:not(.dark-mode-active) .button_small, */
/*body:not(.dark-mode-active) .button_large, */
/*body:not(.dark-mode-active) .functions_container {*/
/*    cursor: pointer; /*/
/*}*/

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica', sans-serif;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.calc_body {
    margin: 1vh 5vh;
    aspect-ratio: 2 / 3;
    min-height: 60vh;
    min-width: 400px;
    max-width: 400px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 10px 2vw;
    transition: border 300ms, transform 0.5s ease;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow: hidden;
    background-color: var(--calc-color);
}

.calc_screen {
    min-height: 10vh;
    margin: 20px 20px 20px 20px;
    padding: 0 30px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: border 300ms;
    font-size: xx-large;
    font-style: normal;
    font-family: 'DS-Digital', 'Courier New', Courier, monospace;
    color: var(--text-color);
    text-align: right;
    letter-spacing: 5px; /* Spacing to mimic segment gaps */
    text-shadow: 1px 1px 2px #000;
    cursor: grab;
    user-select: text;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calc_screen:hover {
    border: 1px solid var(--border-color-hover);
}

.calc_screen:active {
    opacity: 0.6;
    cursor: grabbing;
}

.memory-address {
    color: var(--bg-color2); /* Distinct color for memory address */
    font-style: italic;
}

.calc_buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0px; /* Define consistent gap */
    user-select: none;
    margin: 25px 20px;
    box-sizing: border-box;
}

.button {
    height: 60px;
    width: 60px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border-color);
    font-weight: bold;
}

.operations_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px; /* Control the space between buttons */
    justify-items: center;
    align-items: center;
    width: calc(2 * 60px + 30px); /* Adjust width to match the width of two buttons + gap */
    grid-column: span 2;
    grid-row: span 2;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    min-height: 150px;
    margin: 10px 0px;
    box-sizing: border-box;
}

.button_small {
    height: 45px;
    width: 45px;
    border: 1px solid var(--calc-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color2);
    margin: 0px 5px; /* Ensure equal margin on all sides */
    font-size: xx-large;
    box-sizing: border-box; /* Include padding in width/height calculations */
}

.button_small:hover, .button:hover {
    border: 1px, solid, var(--bg-color2);
    color: var(--text-color);
}

.button_large {
    grid-column: span 2;
    grid-row: span 2;
    border: 1px solid var(--border-color);
    border-radius: 10%/50%; /* Playing with weird border radius */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 160px;
    color: var(--border-color);
    cursor: pointer;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--bg-color2);
    box-sizing: border-box;
    position: relative;
    top: -4px; /* Fine-tuned to bring it up slightly */
}

.button_large:hover {
    border: 1px solid var(--border-color-hover);
    color: var(--text-color);
}

.button, .button_small, .button_large {
    transition: border 300ms ease, color 300ms ease, filter 300ms ease; /* Ensure smooth transitions */
}

.functions_container {
    display: flex;
    margin: 5px auto;
}

.functions_container .button {
    margin: 10px 20px 0px 20px;
    min-width: 100px;
}

.title {
    font-size: 3em;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.dys {
    color: var(--bg-color2);
    position: absolute;
    top: -100%; /* Start above the title */
    left: 0%; /* Start from 0 and adjust dynamically */
    transform: translateX(-100%); /* Adjust the initial position to be off-screen */
    transition: top 1s ease-in-out, transform 1s ease-in-out;
    visibility: hidden; /* Initially hidden */
}

.reveal-dys {
    visibility: visible;
    top: 0; /* Slide down to its position */
    transform: translateX(3.5em); /* Adjust this value for precise alignment */
}

.functional {
    display: inline-block;
    transition: transform 1s ease-in-out, margin-left 1s ease-in-out; /* Transition for spreading */
    margin-left: 0; /* Initial margin to keep "Functional" close to "A Very" */
}

.spread {
    margin-left: 2em; /* Slightly reduce the space between "A Very" and "Functional" */
}

.hidden {
    visibility: hidden; /* Initially hidden without taking up space */
}

/* Show the spotlight when dark mode is active */
body.dark-mode-active:before {
    display: block;
}

/* Dim or hide interactive elements in dark mode */
body.dark-mode-active .calc_screen,
body.dark-mode-active .calc_buttons .button,
body.dark-mode-active .operations_container .button_small,
body.dark-mode-active .button_large,
body.dark-mode-active .calc_answer {
    color: rgba(255, 255, 255, 1); /* Alpha channel changes visibility  within the flashlight */
    border-color: rgba(255, 255, 255, 1); /* Alpha dims the borders */
    background-color: rgba(0, 0, 0, 1); /* Alpha changes bg visibility */
}

body.dark-mode-active .calc_body {
    opacity: 0.03; /* Nearly invisible but slightly visible */
}

body.dark-mode-active * {
    cursor: none !important; /* Ensure no custom cursors are visible in dark mode */
}

.throbber {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

#dark_mode, #randomize_input, #mem_lookup {
    cursor: pointer;
}

#dark_mode:focus, #randomize_input:focus, #mem_lookup:focus, #dark_mode:active, #randomize_input:active, #mem_lookup:active {
    cursor: pointer;
}

#loading-throbber {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 50%;
    display: none; /* Ensure it's hidden by default */
    justify-content: center;
    align-items: center;
}

#dark_mode img,
#randomize_input img,
#mem_lookup img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    filter: invert(52%) sepia(2%) saturate(0%) hue-rotate(207deg) brightness(93%) contrast(95%);
    transition: filter 300ms;
}

#dark_mode:hover img,
#randomize_input:hover img,
#mem_lookup:hover img {
    filter: invert(42%) sepia(96%) saturate(503%) hue-rotate(350deg) brightness(108%) contrast(98%); /* Orange filter */
}

/* Specific hover state for Firefox with -moz prefix */
@-moz-document url-prefix() {
    .button_small:hover, .button:hover {
        border: 1px solid var(--bg-color2); /* Reapply to ensure Firefox picks it up */
        color: var(--border-color-hover);
    }
    .button_large:hover {
        border: 1px solid var(--border-color-hover); /* Reapply to ensure Firefox picks it up */
        color: var(--border-color-hover);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-height: 800px) {
    /* Widescreen/Horizontal Split format specific rules */
    .container {
        min-height: 800px;
    }
    .title {
        display: none;
    }
    .calc_body {
        margin-top: 15vh;
        max-height: 550px;
        margin-bottom: 0;
    }
    .calc_screen {
        min-height: 75px;
    }
}

@media screen and (max-width: 768px) {
    /* Mobile/Portrait specific rules */
    .title {
        display: none;
    }
    .calc_body {
        margin-top: 15vh;
    }
}

@media screen and (min-width: 768px)  {    
    /* Standard Desktop specific rules */
}
