@import url('https://fonts.cdnfonts.com/css/ds-digital');

:root {
    --text-color: #ededed;
    --bg-color: #111111;
    --border-color: #7c7c7c;
    --border-color-hover: #d8d8d8;
  }

body {
    margin: 0;
    padding: 0;
    cursor: crosshair;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica', sans-serif;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.title {
    padding-top: 10vh;
}

.calc_body {
    margin-top: 5vh;
    aspect-ratio: 2 / 3;
    min-height: 65vh;
    min-width: 400px;
    max-width: 400px;
    border: 1px, solid, var(--border-color);
    border-radius: 30px;
    padding: 0px 2vw;
    transition: border, 300ms;
}

.calc_screen {
    margin: 10% 0;
    min-height: 10vh;
    border: 1px, solid, var(--border-color);
    border-radius: 10px;
    transition: border, 300ms;
    cursor:text;
    user-select: text;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.calc_screen:hover {
    border: 1px, solid, var(--border-color-hover);
}

.calc_answer {
    padding: 0 30px;
    font-size: xx-large;
    font-family: 'DS-Digital', 'Courier New', Courier, monospace;
    color: var(--text-color);
    text-align: right;
    padding-right: 10px;
    letter-spacing: 3px; /* Spacing to mimic segment gaps */
    text-shadow: 1px 1px 2px #000;
}

.calc_buttons {
    display: grid;
    height: 65%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2vh;
    user-select: none;
}

.button {
    height: 60px;
    width: 60px;
    border: 1px, solid, var(--border-color);
    border-radius: 15px;
    transition: border, 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border-color);
    font-weight: bold;
}

.button:hover {
    border: 1px, solid, var(--border-color-hover);
    color: var(--text-color);
}

.operations_container {
    margin: 0;
    padding: 0;
    border: 1px, solid, var(--border-color);
    border-radius: 30px;
    transition: border, 300ms;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    grid-row: span 2;
}

.button_small {
    height: 60px;
    width: 60px;
    border: 1px, solid, var(--border-color);
    border-radius: 100%;
    transition: border, 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border-color);
    margin: 5px;
    font-size: xx-large;
}

.button_small:hover {
    border: 1px, solid, var(--border-color-hover);
    color: var(--text-color);
}

.button_large {
    grid-column: span 2;
    margin-right: 25px;
    border: 1px, solid, var(--border-color);
    border-radius: 30px;
    transition: border, 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: var(--border-color);
    cursor:grab;
}

.button_large:hover {
    border: 1px, solid, var(--border-color-hover);
    color: var(--text-color);
}

.button_large:focus, .button_large:active {
    cursor:grabbing;
}

.functions_container {
    display: flex;
    margin: auto;
}

.functions_container .button {
    margin: 10px 20px 0px 20px;
    min-width: 100px;
}

#dark_mode, #randomize_input, #mem_lookup {
    cursor:grab;
}

#dark_mode:focus, #randomize_input:focus, #mem_lookup:focus, #dark_mode:active, #randomize_input:active, #mem_lookup:active {
    cursor:grabbing;
}

#dark_mode img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    filter: invert(52%) sepia(2%) saturate(0%) hue-rotate(207deg) brightness(93%) contrast(95%);
    transition: filter, 300ms;
}

#dark_mode:hover img {
    filter: invert(99%) sepia(3%) saturate(134%) hue-rotate(26deg) brightness(114%) contrast(86%);
}

#randomize_input img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    filter: invert(52%) sepia(2%) saturate(0%) hue-rotate(207deg) brightness(93%) contrast(95%);
    transition: filter, 300ms;
}

#randomize_input:hover img {
    filter: invert(99%) sepia(3%) saturate(134%) hue-rotate(26deg) brightness(114%) contrast(86%);
}

#mem_lookup img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    filter: invert(52%) sepia(2%) saturate(0%) hue-rotate(207deg) brightness(93%) contrast(95%);
    transition: filter, 300ms;
}

#mem_lookup:hover img {
    filter: invert(99%) sepia(3%) saturate(134%) hue-rotate(26deg) brightness(114%) contrast(86%);
}

@media screen and (max-height: 800px) {
    /* Widescreen/Horizontal Split format specific rules */
    .container {
        min-height: 800px;
    }
    .title {
        display: none;
    }
    .calc_body {
        margin-top: 15vh;
        max-height: 550px;
        margin-bottom: 0;
    }
    .calc_screen {
        min-height: 75px;
    }
}

@media screen and (max-width: 768px) {
    /* Mobile/Portrait specific rules */
    .title {
        display: none;
    }
    .calc_body {
        margin-top: 15vh;
    }
}

@media screen and (min-width: 768px)  {    
    /* Standard Desktop specific rules */
}
    

    