@import url('https://fonts.cdnfonts.com/css/ds-digital');

:root {
    --pointerX: 50vw;
    --pointerY: 50vh;
    --text-color: #ededed;
    --bg-color: #1d1b1b;
    --border-color: #7c7c7c;
    --border-color-hover: #d8d8d8;
    --calc-color: #111111;
    --bg-color2: #F17C0F;
    --btn-color: #333;
}

body {
    margin: 0;
    padding: 0;
    cursor: crosshair; /* Default cursor when dark mode is off */
    overflow-x: hidden;
}

/* Flashlight Controls */
body:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle 12vmax at var(--pointerX) var(--pointerY), rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0.99) 100%);
    pointer-events: none;
    display: none; /* Hide the spotlight by default */
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica', sans-serif;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.secret {
    text-align: center;
    position: absolute;
    color: #fff; /* Ensure the text is white */
    opacity: 0; /* Hide by default */
    transition: opacity 0.3s ease-in-out;
    z-index: 2; /* Ensure it appears above other elements */
}

body.dark-mode-active .secret {
    opacity: 0.03; /* Slightly visible */
}

body.dark-mode-active .secret:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 1;
}

body.dark-mode-active .secret:hover {
    opacity: 0.8; /* Fully visible when flashlight is on it */
}

.calc_body {
    position: relative;
    aspect-ratio: 2 / 3;
    min-height: 60vh;
    min-width: 400px;
    max-width: 400px;
    box-shadow: 5px 10px #000;
    border-radius: 30px;
    padding: 10px 2vw;
    transition: border 300ms, transform 0.5s ease;
    margin: 1vh 1vw;
    overflow: hidden;
    background-color: var(--calc-color);
    z-index: 1;
}

.calc_answer {
    min-height: 10vh;
    margin: 20px;
    padding: 0 30px;
    /* border: 1px solid var(--border-color); */
    border-radius: 10px;
    transition: border 300ms;
    font-size: xx-large;
    font-family: 'DS-Digital', 'Courier New', Courier, monospace;
    color: var(--text-color);
    text-align: right;
    letter-spacing: 5px; /* Spacing to mimic segment gaps */
    text-shadow: 1px 1px 2px #000;
    cursor: grab;
    user-select: text;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333333;
    box-shadow: 5px 10px #2c2c2c;
}

.calc_answer:hover {
    cursor:grab;
}

.calc_answer:active {
    opacity: 0.6;
    cursor: grabbing;
}

.memory-address {
    color: var(--bg-color2); /* Distinct color for memory address */
    font-style: italic;
}

.calc_buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 0; /* Define consistent gap */
    user-select: none;
    margin: 25px 20px;
    box-sizing: border-box;
    font-size: 25px;
}

.button {
    height: 60px;
    width: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-weight: bold;
    background-color: var(--btn-color);
}

.operations_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0; /* Control the space between buttons */
    justify-items: center;
    align-items: center;
    width: calc(2 * 60px + 30px); /* Adjust width to match the width of two buttons + gap */
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 25px;
    min-height: 150px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

.button_small {
    height: 45px;
    width: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color2);
    margin: 0 5px; /* Ensure equal margin on all sides */
    font-size: xx-large;
    box-sizing: border-box; /* Include padding in width/height calculations */
    background-color: var(--btn-color);
}

.button_small:hover,
.button:hover {
    /* border: 1px solid var(--bg-color2); Fixed the border declaration */
    color: var(--text-color);
    background-color: var(--bg-color2);
}

.button_large {
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 10%/50%; /* Playing with weird border radius */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 160px;
    color: var(--text-color);
    cursor: pointer;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--bg-color2);
    box-sizing: border-box;
    position: relative;
    top: -4px; /* Fine-tuned to bring it up slightly */
}

.button_large:hover {
    color: var(--text-color);
    background-color: #f75b00;
}

.button,
.button_small,
.button_large {
    user-select: none;
    transition: border 300ms ease, color 300ms ease, filter 300ms ease; /* Ensure smooth transitions */
}

.functions_container {
    display: flex;
    margin: 5px auto;
}

.functions_container .button {
    margin: 15px 30px 20px;
    min-width: 100px;
}

.functions_container>div {
    border: 2px solid #7c7c7c;
}

.functions_container>div:hover {
    border: 2px solid #F17C0F;
}

.title {
    font-size: 3em;
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.dys {
    color: var(--bg-color2);
    position: absolute;
    top: -100%; /* Start above the title */
    left: 0; /* Start from 0 and adjust dynamically */
    transform: translateX(-100%); /* Adjust the initial position to be off-screen */
    transition: top 1s ease-in-out, transform 1s ease-in-out;
    visibility: hidden; /* Initially hidden */
}

.reveal-dys {
    visibility: visible;
    top: 0; /* Slide down to its position */
    transform: translateX(3.5em); /* Adjust this value for precise alignment */
}

.functional {
    display: inline-block;
    transition: transform 1s ease-in-out, margin-left 1s ease-in-out; /* Transition for spreading */
    margin-left: 0; /* Initial margin to keep "Functional" close to "A Very" */
}

.spread {
    margin-left: 2em; /* Slightly reduce the space between "A Very" and "Functional" */
}

.drag_handle {
    position: absolute; /* Position relative to .calc_body */
    bottom: 20px; /* Position 20px from the bottom */
    right: 20px; /* Position 20px from the right */
    width: 40px;
    height: 40px;
    cursor: grab;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    touch-action: none;
    user-select: none;
    filter: opacity(0.4);
}

.drag_handle:hover {
    filter: opacity(0.8);
}

.drag_handle:active {
    cursor: none !important;
    transform: rotate(-10deg) scale(1.1);
    filter: opacity(0.8);
}

.hidden {
    visibility: hidden; /* Initially hidden without taking up space */
}

.hide-cursor {
    cursor: none !important;
}

.throbber {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

#dark_mode,
#randomize_input,
#mem_lookup {
    cursor: pointer;
}

#dark_mode:focus,
#randomize_input:focus,
#mem_lookup:focus,
#dark_mode:active,
#randomize_input:active,
#mem_lookup:active {
    cursor: pointer;
}

#loading-throbber {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 50%;
    display: none; /* Ensure it's hidden by default */
    justify-content: center;
    align-items: center;
}

#dark_mode img,
#randomize_input img,
#mem_lookup img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    filter: invert(52%) sepia(2%) saturate(0%) hue-rotate(207deg) brightness(93%) contrast(95%);
    transition: filter 300ms;
}

#dark_mode:hover img,
#randomize_input:hover img,
#mem_lookup:hover img {
    filter: invert(70%) sepia(89%) saturate(1%) hue-rotate(10deg) brightness(106%) contrast(110%); /* Orange filter */
}

/* Show the spotlight when dark mode is active */
body.dark-mode-active:before {
    display: block;
}

/* Increase the visibility of elements when illuminated */
body.dark-mode-active .calc_body,
body.dark-mode-active .calc_answer,
body.dark-mode-active .calc_buttons .button,
body.dark-mode-active .operations_container .button_small,
body.dark-mode-active .button_large {
    opacity: 0.2 /* Base opacity in dark mode */
}

body.dark-mode-active .calc_answer:hover,
body.dark-mode-active .calc_buttons .button:hover,
body.dark-mode-active .operations_container .button_small:hover,
body.dark-mode-active .button_large:hover {
    opacity: 0.3 /* Increase visibility when flashlight is over it */
}

body.dark-mode-active * {
    cursor: none !important; /* Ensure no custom cursors are visible in dark mode */
}

/* Specific hover state for Firefox with -moz prefix */
@-moz-document url-prefix() {
    .button_small:hover,
    .button:hover {
        border: 1px solid var(--bg-color2); /* Reapply to ensure Firefox picks it up */
        color: var(--border-color-hover);
    }
    .button_large:hover {
        border: 1px solid var(--border-color-hover); /* Reapply to ensure Firefox picks it up */
        color: var(--border-color-hover);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    /* Mobile/Portrait specific rules */

    /* Hide the title on smaller screens */
    .title {
        display: none;
    }

    /* Adjust calculator body dimensions for mobile */
    .calc_body {
        width: 90vw; /* Full width minus some padding */
        max-width: 320px; /* Max width for smaller phones */
        padding: 2vh 2vw 5px 2vw; /* Reduced padding */
        margin-top: 3vh; /* Reduce the margin-top to bring it closer to the top */
        margin-bottom: 1vh;
    }

    /* Adjust the display area */
    .calc_answer {
        min-height: 8vh;
        margin: 10px;
        padding: 0 15px;
        font-size: x-large; /* Smaller font size */
        border-radius: 20px;
    }

    /* Adjust button sizes for mobile */
    .calc_buttons {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    .button, .button_small, .button_large {
        width: 60px;
        height: 60px;
        font-size: large;
    }

    .button_large {
        width: 120px; /* Adjusted for smaller screens */
        height: 60px;
    }

    /* Adjust the drag handle for smaller screens */
    .drag_handle {
        bottom: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
    }

    .functions_container {
        margin-top: 5px; /* Add top margin for space between the calculator and function buttons */
        margin-bottom: 0; /* Remove unnecessary bottom margin */
    }

    /* Reduce the size of function buttons */
    .functions_container .button {
        margin: 10px 15px;
        min-width: 80px;
        width: auto;
    }
    .container {
        padding-bottom: 0; /* Remove unnecessary bottom padding */
        margin-bottom: 0; /* Remove unnecessary bottom margin */
    }
    .drag_handle {
        margin: 0 2vw 2vh 0;
    }
}

@media screen and (max-width: 480px) {
    /* Very small mobile devices */

    .calc_body {
        width: 100vw; /* Full width */
        max-width: 280px; /* Further reduce for very small screens */
        padding: 2vh 1vw 5px 1vw;
        margin-bottom: 1vh;
    }

    .calc_answer {
        font-size: x-large; /* Further reduce font size */
        padding: 0 10px;
    }

    .button, .button_small, .button_large {
        width: 55px;
        height: 55px;
        font-size: medium;
    }

    .button_large {
        width: 100px;
        height: 50px;
    }
    .functions_container {
        margin-top: 15px; /* Add top margin for space between the calculator and function buttons */
        margin-bottom: 0; /* Remove unnecessary bottom margin */
    }
    .drag_handle {
        margin: 0 2vw 2vh 0;
    }
}